*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix ::after{
  content: "";
  display: table;
  clear: both;
}

.float-left{
  float: left;
  margin-left: 0px;
  margin-right: 120px;
}

.float-right{
  float: right;
  margin-right: 0px;
}



/* header */

#titolo{
  
  color: rgb(209, 27, 88);
  text-align: center;
  margin-top: 30px;
}

.paragrafo{
  text-align: center;
}

/* main */
.Team{
  margin-top: 80px;
}
.corpo-centrale{
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  width: 1550px;
  margin: 0 auto;
}

.card{
  width: 300px;
  height: 80px;
  background-color: black;
  margin-top: 20px;
}

.card-central{
  width: 300px;
  height: 80px;
  background-color: black;
  margin-top: 20px;

}

.imma{
  max-height: 100%;
  float: left;
}

h3{
  display: inline-block;
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;

}


.scritte{
  float: left;
  margin-left: 25px;
}

.ruolo{
  margin-bottom: 5px;
  color: white;
}

.mail{
  margin-top: 5px;
  color: rgb(64, 64, 237);
}
