*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix ::after{
  content: "";
  display: table;
  clear: both;
}

.float-left{
  float: left;
  margin-left: 40px;
  margin-right: 40px;
}


body{
  font-family: 'Fredoka', sans-serif;
}


/* header */

#titolo{
  
  color: rgb(209, 27, 88);
  text-align: center;
  margin-top: 30px;
}

.paragrafo{
  text-align: center;
}

/* main */
.Team{
  margin-top: 80px;
}
.corpo-centrale{
  padding-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  width: 1550px;
  margin: 0 auto;
}

.card{
  width: 300px;
  
  background-color: black;
  margin-top: 20px;
}

.card-central{
  width: 300px;
  height: 80px;
  background-color: black;
  margin-top: 20px;

}

.imma{
  max-height: 100%;
  float: left;
  width: 100px;
}

h3{
  
  color: white;
  margin-bottom: 5px;
  margin-top: 5px;

}


.scritte{
  float: left;
  padding-left: 15px;
  width: 200px;
  padding-top: 10px;
}

.ruolo{
  margin-bottom: 5px;
  color: white;
  display: block;
}

.mail{
  margin-top: 5px;
  color: rgb(64, 64, 237);
  display: block;
}
